<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h1>Your booking is confirmed</h1>

    <p>Thank you for booking a guidance appointment with Pension Wise.

    <p>You'll shortly receive an email confirming the details of your appointment.</p>

    <p><a href="https://research.pensionwise.gov.uk/s/bookingfeedback/">Give us your feedback</a></p>
  </div>
</div>
